[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/praveensamanthapudi
[access "refs/for/refs/*"]
	read = group user/praveensamanthapudi
	push = group user/praveensamanthapudi
	label-Code-Review = -2..+2 group user/praveensamanthapudi
	label-Verified = -1..+1 group user/praveensamanthapudi
	rebase = group user/praveensamanthapudi
	removeReviewer = group user/praveensamanthapudi
	submit = group user/praveensamanthapudi
[access "refs/heads/*"]
	read = group user/praveensamanthapudi
	create = group user/praveensamanthapudi
	push = +force group user/praveensamanthapudi
	pushMerge = group user/praveensamanthapudi
[access "refs/tags/*"]
	push = group user/praveensamanthapudi
	push = +force group user/praveensamanthapudi
